html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 1000px;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.main{
    height: 13vh;
    width: 100vw;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#heading1{
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 20px;
    margin-top: -100px;
    margin-right: 22px;
    padding: 50px;
}
#text{
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 20px;
    margin-top: -100px;
    margin-right: 22px;
}
hr{
    margin-top: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #333;
}
.logo{
    color: aliceblue;
    font-size: 28px;
}
nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #969696;
    transition: .3s;
}