html {
    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 1000px;
  }
*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.main{
    height: 13vh;
    width: 100vw;
    
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#heading1{
    position: relative;
    top: -150px;
    
    text-align: center;
    font-size: 40px;
    
    margin-top: -100px;
    margin-right: 22px;
    padding: 50px;

    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}
#ThirdT{
    position: relative;
    top: -100px;
    width: 1200px;
        
    text-align: left;
    font-size: 20px;
        
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 30px;

    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}
#SecondT{
    position: relative;
    top: -150px;
    width: 1200px;
    height: auto;
    
    text-align: left;
    font-size: 20px;
    
    margin-top: 60px;
    margin-right: 250px;
    margin-left: 30px;

    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
    }
    #FirstT{
        position: relative;
        top: 10px;
        width: 1200px;
            
        text-align: left;
        font-size: 20px;
            
        margin-top: 50px;
        margin-right: 250px;
        margin-left: 30px;

        font-family: 'Barlow', sans-serif;
        font-family: 'Poppins', sans-serif;
    }
    
    .HeadingT{
        position: relative;
        margin-left: 30px;
        margin-top: 0px;
        top: 35px;
        font-family: 'Barlow', sans-serif;
        font-family: 'Poppins', sans-serif;
    }
    #HeadingT2{
        position: relative;
        top: -20px;
        margin-left: 30px;
        margin-top: -100px;
        font-family: 'Barlow', sans-serif;
        font-family: 'Poppins', sans-serif;
    }
    
    hr{
    margin-top: -150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
    
    background-color: #333;

    top: -300px;
    margin-top: 30px;

}
#navLogo{
    height: 200px;
    width: 200px;
    position: relative;

    top: 50px;
    margin-top: 150px;
}

nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
        font-size: 25px;
        
        align-items: center;
        justify-content: space-between;

        margin-left: 250px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif
}
nav ul li a:hover{
    color: #969696;
    transition: .3s;
}
.img1{
    position: relative;
    top:-80px;
    
    margin-left: -150px;
    margin-top: -75px;
    
    height: 200px;
    width: 355px;
    left:1500px;
}
#img2{
    position: relative;
    top: 250px;
   
    margin-left: -150px;
    margin-top: -75px;
   
    height: 200px;
    left:1288px;
}